<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>@ViewBag.Title</title>

	    <!-- Bootstrap Core CSS -->
	    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Theme CSS -->
	    <link href="/Content/css/freelancer.min.css" rel="stylesheet">
	</head>

	<body id="page-top" class="index">
	    <!-- Navigation -->
	    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header page-scroll">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
	                </button>
	                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li class="hidden">
	                        <a href="#page-top"></a>
	                    </li>
	                    <li class="page-scroll">
	                        <a href="#portfolio">Portfolio</a>
	                    </li>
	                    <li class="page-scroll">
	                        <a href="#about">About</a>
	                    </li>
	                    <li class="page-scroll">
	                        <a href="#contact">Contact</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container-fluid -->
	    </nav>

	    <!-- Header -->
	    <header>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="intro-text">
	                        <span class="name">Progressive Web App Demo</span>
	                        <hr class="star-light">
	                        <span class="skills">And Other Experiments with Service Worker</span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </header>
	    <!-- Portfolio Grid Section -->

	    <!-- About Section -->
	    <section>
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 text-center">
	                    @RenderBody()
	                </div>
	            </div>
	        </div>
	    </section>

	    <!-- Footer -->
	    <footer class="text-center">
	        <div class="footer-below">
	            <div class="container">
	                <div class="row">
	                    <div class="col-lg-12">
	                        Copyright &copy; David Pucknell 2016
	                    </div>
	                </div>
	            </div>
	        </div>
	    </footer>

	    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
	    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
	        <a class="btn btn-primary" href="#page-top">
	            <i class="fa fa-chevron-up"></i>
	        </a>
	    </div>

		<script>
			if ('serviceWorker' in navigator) {
  				navigator.serviceWorker.register('/sw.js').then(function(registration) {
    			// Registration was successful
    			console.log('ServiceWorker registration successful with scope: ', registration.scope);
  			}).catch(function(err) {
    			// registration failed :(
			    console.log('ServiceWorker registration failed: ', err);
			  });
			}
		</script>
	</body>

</html>
